<main>
    <form id="perfil-usuario" asp-controller="Home" asp-action="UploadFotoDePerfil" enctype="multipart/form-data" method="post">
        <label class="file"><i class="fas fa-camera-retro"></i> Upload </label>
        <input class="file" type="file" name="file" />
        <input id="entrar" type="submit" value="Enviar">
    </form>
</main>