<main>
    <div class="agradecimento" style="
    padding: 2em;
    background-color: #431969;
    height: fit-content;
    width: 40em;
    border-style: solid;
    border-width: 0.5px;
    margin-top: 8em;
    margin-left: 8em;
    position: relative;
    font-size: 1.1em;">
        <h2>Agradecimentos Especiais</h2>
        <p>Agradecemos a todos que participaram desse projeto e principalmente aos professores 
            que fizeram tudo isso possível.
            <br>
            <br>
            Sem seus ensinamentos esse projeto não teria saído do papel. Vocês responderam 
            nossas perguntas por mais idiotas que elas fossem. Conversaram e brincaram com a gente. 
            <br>
            <br>
            Obrigado por serem além de professores maravilhosos, grandes amigos.
            <br>
            <br>
            Vocês são incríveis!!! Nós sentiremos saudades.
            <br>
            <br>
            Amamos vocês <i class="fas fa-heart" style="color: rgb(192, 11, 11);"></i> <i class="fas fa-heart" style="color: rgb(192, 11, 11);"></i> <i class="fas fa-heart" style="color: rgb(192, 11, 11);"></i>
        </p>
    </div>
</main>